click==6.7
ffmpeg-python==0.1.16
Flask==1.0.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
pytest-runner==4.2
Werkzeug==0.14.1
requests==2.19.1
urllib3==1.23
certifi==2018.8.24
chardet==3.0.4
idna==2.7

