
/* checkbox without label start*/
* {
  outline: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.checkList .toggle1 {
  background: #DDD;
  width: 30px;
  height: 15px;
  -moz-border-radius: 10px;
       border-radius: 10px;
  display: block;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  float: left;
}
/* switch */

.checkList .toggle1:after {
  content: "";
  background: #999;
  display: block;
  height: 17px;
  width: 17px;
  -webkit-border-radius:100%;
  -o-border-radius:100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
       border-radius: 100%;
  position: absolute;
  left: -1px;
  top: -1px;
  -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* open background */
.checkList .toggle1:checked {
  background: #00D2C9;
  -webkit-box-shadow: 0 0 5px #00D2C9;
     -moz-box-shadow: 0 0 5px #00D2C9;
          box-shadow: 0 0 5px #00D2C9;
}
/* switch opened background */
.checkList .toggle1:checked:after {
  background: #fff;
  -webkit-box-shadow: 0 0 5px #fff;
     -moz-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
  left: calc(100% - 15px);
  left: -moz-calc(100% - 15px);
  left: -webkit-calc(100% - 15px);
}


/************ checkbox without label end */

/************ checkbox with label start*/
/* .tgl {
 position: relative;
 outline: 0;
 display: inline-block;
 cursor: pointer;
 user-select: none;
 margin: 0 0 5px 0;
}
.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
 box-sizing: border-box;
}
.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
 background: none;
} */
/* background */
/* .tgl span {
 position: relative;
 display: block;
 height: 0.5em;
 line-height: 1.2em;
 overflow: hidden;
 font-weight: normal;
 text-align: center;
 border-radius: 2em;
 padding: 0.2em 1em;
 border: 1px solid #fafafa;
 box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.7);
 transition: color 0.3s ease, padding 0.3s ease-in-out, background 0.3s ease-in-out;
}
.tgl span:before {
 position: relative;
 display: block;
 line-height: 1.3em;
 padding: 0 1em 0 1em;
 font-size: 1em;
} */
/* switch */
/* .tgl span:after {
 position: absolute;
 display: block;
 content: '';
 border-radius: 2em;
 width: 0.4em;
 height: 0.4em;
 margin-left: -1.05em;
 top: 0.05em;
 background: #FFFFFF;
 transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 0.97), background 0.3s ease-in-out;
}
.tgl input[type="checkbox"] {
 display: none !important;
}
.tgl input[type="checkbox"]:not(:checked) + span {
 background: #de474e;
 color: #FFFFFF;
 padding-left: 0.1em;
 padding-right: 0.05em;
}
.tgl input[type="checkbox"]:not(:checked) + span:before {
 content: attr(data-off);
 color: #FFFFFF;
}
.tgl input[type="checkbox"]:not(:checked) + span:after {
 background: #FFFFFF;
 left: 1em;
}
.tgl input[type="checkbox"]:checked + span {
 background: #86d993;
 color: #FFFFFF;
 padding-left: 0.05em;
 padding-right: 0.1em;
}
.tgl input[type="checkbox"]:checked + span:before {
 content: attr(data-on);
}
.tgl input[type="checkbox"]:checked + span:after {
 background: #FFFFFF;
 left: 100%;
}
.tgl input[type="checkbox"]:disabled,
.tgl input[type="checkbox"]:disabled + span,
.tgl input[type="checkbox"]:read-only,
.tgl input[type="checkbox"]:read-only + span {
 cursor: not-allowed;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span {
 background: #e3e3e3;
 color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:before {
 color: #999999;
}
.tgl-gray input[type="checkbox"]:not(:checked) + span:after {
 background: #ffffff;
} */
/************ checkbox with label end */


/************* slider *******************/

/****************** input=number */



.openList input[type="number"]{
  width:1.5em;
  height: 1.5em;
  -moz-border-radius: 5px;
       border-radius: 5px;
}
/* Arrow not shown */
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{
   -webkit-appearance: none !important;
}
/* Arrow not shown */
input[type="number"] {
    -moz-appearance: textfield;
}

/* input=number style end ***************/

/* .vertical-range  {
width: 20px;
margin: 30px auto;
} */

/* input=range style start ***************/
.slider1 input[type="range"]{
  direction: rtl;
}

.vertical-range input[type="range"] {
  -webkit-appearance: none;
  /* margin: 0px 0; */
  width: 90%;
  /* -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); */
  /* margin-left: -15px; */
}
.vertical-range input[type="range"]:focus {
  outline: inherit;
}
.vertical-range input[type="range"]::-webkit-slider-runnable-track {
  width: 90%;
  height: 10px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 6px rgba(51, 51, 51, 0.6), inset 0px 0px 2px rgba(51, 51, 51, 0.1);
          box-shadow: inset 0 1px 6px rgba(51, 51, 51, 0.6), inset 0px 0px 2px rgba(51, 51, 51, 0.1);
  background: #DDDDDD;
  /* border-radius: 10%; */
}
.vertical-range input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: -2px 1px 3px rgba(153, 153, 153, 0.7);
          box-shadow: -2px 1px 3px rgba(153, 153, 153, 0.7);
  border: 1px solid #ccc;
  height: 18px;
  width: 8px;
  border-radius:25%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.vertical-range input[type="range"]:focus::-webkit-slider-runnable-track {

  background:#00D2C9;
  -webkit-box-shadow: 0 0 5px #00D2C9;
          box-shadow: 0 0 5px #00D2C9;
}
/* .slider1 input[type="range"]:focus::-webkit-slider-runnable-track{
    background:linear-gradient(to left, #1ab1e2 0%, #1ab1e2 80%,#eee 80%, #eee);
} */
/* .slider1 input[type="range"]::-webkit-slider-runnable-track{
    background:linear-gradient(to left, #1ab1e2 0%, #1ab1e2 50%,#eee 50%, #eee);
} */


.vertical-range input[type="range"]::-moz-range-track {
  width: 90%;
  height: 10px;
  cursor: pointer;
  -moz-box-shadow: inset 0 1px 6px rgba(51, 51, 51, 0.6), inset 0px 0px 2px rgba(51, 51, 51, 0.1);
       box-shadow: inset 0 1px 6px rgba(51, 51, 51, 0.6), inset 0px 0px 2px rgba(51, 51, 51, 0.1);
  background: #DDD;
  /* border-radius: 5px; */
}
.vertical-range input[type="range"]::-moz-range-thumb {
  -moz-box-shadow: -2px 1px 3px rgba(153, 153, 153, 0.7);
       box-shadow: -2px 1px 3px rgba(153, 153, 153, 0.7);
  border: 1px solid #ccc;
  height: 18px;
  width: 8px;
  -moz-border-radius: 100%;
       border-radius: 100%;
  background: white;
  cursor: pointer;
}
.vertical-range input[type="range"]::-moz-focus-outer {
  border: 0;
}
.vertical-range input[type="range"]::-ms-track {
  width: 90%;
  height: 10px;
  cursor: pointer;
  background: #00D2C9;
  color: transparent;
  border-color: white;
  border-top-width: 10px;
  border-bottom-width: 13px;
}
.vertical-range input[type="range"]::-ms-fill-lower,
.vertical-range input[type="range"]::-ms-fill-upper {
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 0 1px 6px rgba(51, 51, 51, 0.6), inset 0px 0px 2px rgba(51, 51, 51, 0.1);
}
.vertical-range input[type="range"]::-ms-thumb {
  box-shadow: -2px 1px 3px rgba(153, 153, 153, 0.7);
  border: 1px solid #ccc;
  height: 18px;
  width: 8px;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}


.vertical-range input[type="range"][disabled]::-webkit-slider-thumb {
background-color: rgba(204, 204, 204, 0.9);
cursor: default;
}
.vertical-range input[type="range"][disabled]::-webkit-slider-runnable-track {
background: -webkit-gradient(linear, left top, right top, from(rgba(210, 210, 210, 0.5)), to(rgba(210, 210, 210, 0.5))), #00AEEF;
background: -webkit-linear-gradient(left, rgba(210, 210, 210, 0.5) 0%, rgba(210, 210, 210, 0.5) 100%), #00AEEF;
background: linear-gradient(to right, rgba(210, 210, 210, 0.5) 0%, rgba(210, 210, 210, 0.5) 100%), #00AEEF;
-webkit-box-shadow: inset 0 1px 6px rgba(153, 153, 153, 0.6), inset 0px 0px 2px rgba(153, 153, 153, 0.1);
        box-shadow: inset 0 1px 6px rgba(153, 153, 153, 0.6), inset 0px 0px 2px rgba(153, 153, 153, 0.1);
cursor: default;
}
.vertical-range input[type="range"][disabled]::-moz-range-thumb {
background-color: rgba(204, 204, 204, 0.9);
cursor: default;
}
.vertical-range input[type="range"][disabled]::-moz-range-track {
background: -moz-linear-gradient(left, rgba(210, 210, 210, 0.5) 0%, rgba(210, 210, 210, 0.5) 100%), #00AEEF;
background: linear-gradient(to right, rgba(210, 210, 210, 0.5) 0%, rgba(210, 210, 210, 0.5) 100%), #00AEEF;
-moz-box-shadow: inset 0 1px 6px rgba(153, 153, 153, 0.6), inset 0px 0px 2px rgba(153, 153, 153, 0.1);
     box-shadow: inset 0 1px 6px rgba(153, 153, 153, 0.6), inset 0px 0px 2px rgba(153, 153, 153, 0.1);
cursor: default;
}
.vertical-range input[type="range"][disabled]::-ms-thumb {
background-color: rgba(204, 204, 204, 0.9);
cursor: default;
}
.vertical-range input[type="range"][disabled]::-ms-track {
background: linear-gradient(to right, rgba(210, 210, 210, 0.5) 0%, rgba(210, 210, 210, 0.5) 100%), #00AEEF;
}
.vertical-range input[type="range"][disabled]::-ms-fill-lower,
.vertical-range input[type="range"][disabled]::-ms-fill-upper {
box-shadow: inset 0 1px 6px rgba(153, 153, 153, 0.6), inset 0px 0px 2px rgba(153, 153, 153, 0.1);
}
/* output {
font-size: 20px;
color: #333;
float: right;
-webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
output:after {
content: '%';
color: #999;
font-size: 12px;
vertical-align: top;
} */
/* slider end */
/*internet explorer scrollbalken*/
