
body{
    margin: 0;
    padding: 0;
    background: #262626;
}

.circle{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: #3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #1ba5b7;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #1ba5b7;
    box-shadow: 0 0 20px rgba(0,0,0,.5) 
}

.circle:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 4px solid transparent;
    border-top: 4px solid #1ba5b7;
    border-right: 4px solid #1ba5b7;
    border-radius:50%;
    -webkit-animation: animateCircle 1s linear infinite;
}

@-webkit-keyframes animateCircle
{

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

